:root {
	--dark: #4f969b;
	--darker: #934e8f;
	--darkest: #0c781e;
	--grey: #b1b5bf;
	--pink: #ffaed7;
	--purple: #433369;
	--light: rgb(74, 37, 80);
	--cyan: rgb(8, 46, 37);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--darkest);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: bold;
	background-image: linear-gradient(to right, var(--cyan), var(--purple));
	-webkit-background-clip: text;
	background-clip: transparent;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1rem;
	text-align: center;
}

#form1 {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#in {
	flex: 1 1 0%;
	background-color: var(--dark);
	padding: 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#tsks{
	text-align: center;
}

#in::placeholder {
	color: var(--grey);
}

#su {
	color: var(--pink);
	font-size: 3.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--cyan), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#su:hover {
	opacity: 0.8;
}

#su:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.lis {
	padding: 1rem;
}

.lis h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--cyan);
	margin-bottom: 1rem;
}

#shtsks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--cyan), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}